/* Default styles for the container, logo, and menu */


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Inconsolata", monospace;
}

.logoSection {
  display: flex;
  align-items: center;
  flex: 5; /* Expand to fill available space */
}

.logo {
  max-width: 90px; /* Reduce the logo size further as needed */
  height: auto;
  transition: transform 0.1s ease;
}

.menuSection {
  display: flex;
  align-items: center;
  font-family: "Inconsolata", monospace;
}

.link {
  font-size: medium;
  font-weight:bolder;
  margin-right: 60px;
  margin-left: 60px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.1s;
}

.link:hover {
  color:rgb(21, 216, 135);
}



.active {
  font-size: bolder;
  font-weight: 900;
  margin-right: 20px;
  color:rgb(21, 216, 135);
}

/* Styles for the mobile menu icon and content */
.mobileIcon {
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.mobileMenuContent {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1;
  font-family: "Inconsolata", monospace;
}

.mobileMenuContent a {
  font-size: small;
  font-weight: 12px;
  color: rgb(13, 218, 173);
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.2s;
  font-family: "Inconsolata", monospace;
}


.mobileMenuContent a:hover {
  color: rgb(255, 255, 255);
}

/* Media query for screens with a width up to 768px (typical for mobile) */
@media (max-width: 768px) {
  .mobileIcon {
    display: block;
  }
  
  .mobileMenuContent {
    display: flex;
    position: relative;
  }

  .desktopMenu {
    display: none;
  }
  
  /* Styles for the close button in the mobile menu */
  .mobileCloseButton {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(13, 218, 173);
  }
}
.menuIcon {
  width: 24px; /* Set the width and height as needed */
  height: 24px;
  margin-right: 8px; /* Adjust the spacing between the icon and text */
}

/* Telegram link style (optional) */
