.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0px;
  background-image: url("/wall.jpeg"); /* Set the background image URL */
  background-size: cover; /* Cover the entire container with the image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-position: center; /* Center the background image */
  text-align: center;
  /* Adjust the background opacity */
  opacity: 0.99;
}

.mySpan {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: transparent;
  white-space: nowrap;
  font-family: "Inconsolata", monospace;
  margin-right:4% ;
  margin-top: 10%;
}

.mySpan:before {
  content: "ASSET LAYER ON ETHEREUM";
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: 0;
  color: rgb(255, 255, 255);
}

.mySpan:hover {
  animation: show 0.3s linear forwards;
}

@keyframes show {
  93% {
    color: transparent;
  }
  94% {
    color: white;
  }
  100% {
    color: white;
  }
}

.mySpan:hover:before {
  animation: texte 0.3s linear forwards;
}

@keyframes texte {
  0 {
    content: "4@,3SAscAi;9,bT4";
  }
  10% {
    content: "$R6?4dSj{qS<7Yh7";
  }
  20% {
    content: "+BDs73f;[u3^4Lgg";
  }
  30% {
    content: "{qS<7Yh7+BDs73f;";
  }
  50% {
    content: "Ai;9,bT4$R6?4dSj";
  }
  60% {
    content: "[o3^4LggAi;9,bT4";
  }
  70% {
    content: "qoj4BWy-?4dSj{qS";
  }
  80% {
    content: "GonQ5Tye4LggAi;s";
  }
  90% {
    content: "Go3d4<yecAi;9,bT";
  }
  100% {
    content: "";
  }
}
.mySpan1 {
  position: relative;
  display: inline-block;
  color: transparent;
  white-space: nowrap;
  line-height: 1em;
  font-family: "Inconsolata", monospace;
  text-align: left;
  margin-top: 1.9rem;
  padding-top: 1%;
  padding-left: 4%;

}

.mySpan1:before {
  content: 'REWARD LAYER BUILT ON ARBITRUM';
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: 0;
  color: rgb(21, 216, 135);
}

.mySpan1:hover {
  animation: show 0.3s linear forwards;
}

@keyframes show {
  93% {
    color: transparent;
  }
  94% {
    color: white;
  }
  100% {
    color: white;
  }
}

.mySpan1:hover:before {
  animation: texte 0.3s linear forwards;
}

@keyframes texte {
  0 {
    content: "4@,3SAscAi;9,bT4";
  }
  10% {
    content: "$R6?4dSj{qS<7Yh7";
  }
  20% {
    content: "+BDs73f;[u3^4Lgg";
  }
  30% {
    content: "{qS<7Yh7+BDs73f;";
  }
  50% {
    content: "Ai;9,bT4$R6?4dSj";
  }
  60% {
    content: "[o3^4LggAi;9,bT4";
  }
  70% {
    content: "qoj4BWy-?4dSj{qS";
  }
  80% {
    content: "GonQ5Tye4LggAi;s";
  }
  90% {
    content: "Go3d4<yecAi;9,bT";
  }
  100% {
    content: "";
  }
}

/* Existing styles for other elements in your page */

.button {
  /* Modify button styles to align it with the write-ups */
  background-color: #fffdfd;
  border-radius: 10px;
  border: none;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  color: #000000;
  padding: 15px;
  /* Adjust the margin and padding to position the button */
  margin-right: 54%; /* Top margin 1%, no right margin, no bottom margin, left margin 5% */
  width: 250px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.button:before {
  content: 'GIB';
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: 0;
  color: rgb(0, 0, 0);
}

/* Rest of your CSS styles... */




@keyframes show {
  93% {
    color: transparent;
  }
  94% {
    color: rgb(250, 238, 238);
  }
  100% {
    color: rgb(226, 216, 216);
  }
}

.button:hover:before {
  animation: texte 0.8s linear forwards;
}

@keyframes texte {
  0 {
    content: "4@,3SAs";
  }
  10% {
    content: "$R6?4dS";
  }
  20% {
    content: "+BDs73f";
  }
  30% {
    content: "{qS<7Yh";
  }
  50% {
    content: "Ai;9,bT";
  }
  60% {
    content: "[o3^4Lg0";
  }
  70% {
    content: "qoj4BWy-";
  }
  80% {
    content: "GonQ5Tye";
  }
  90% {
    content: "Go3d4<ye";
  }
  100% {
    content: "";
  }
}

/* Add styles for small screens (up to 768px) */
@media (max-width: 768px) {
  .mySpan {
    font-size: 24px;
     /* Adjust font size for small screens */
  }
  .mySpan1 {
    font-size: 24px; /* Adjust font size for small screens */
  }
  .button {
    font-size: 16px;
 
     /* Adjust font size for small screens */
  }
}

/* Add styles for small screens (up to 768px) */
@media (max-width: 768px) {
  .container {
    width: 350%;
    padding: 0 0px; /* Add some padding to the left and right for small screens */
    background-size: 100% auto; /* Adjust background size to maintain aspect ratio */
    background-position: top; /* Align background to the top for small screens */
  }

  .mySpan {
    font-size: 24px; /* Adjust font size for small screens */
    margin-top: 5%; /* Adjust the top margin for small screens */
  }

  .mySpan1 {
    font-size: 24px; /* Adjust font size for small screens */
    margin-top: 5%; /* Adjust the top margin for small screens */
  }

  .button {
    font-size: 16px; /* Adjust font size for small screens */
    margin-right: 0; /* Remove the right margin for small screens */
  }
}

/* Restyled Footer */
.footer {
  background-color: #000000; /* Dark background color */
  margin-top: 30%;
  padding-top: 0%;
  padding-bottom: 0%;
  color: #ffffff; /* White text color */
  font-family: "Inconsolata", monospace;
  font-size: 10px;
  text-align: center;
  transition: background-color 0.3s ease; /* Add a subtle background color transition */
}




